<!DOCTYPE html>
<html>
<head>
	<title>Shop Page</title>
	<link rel="stylesheet" type="text/css" href="../ststic/style.css">.
</head>
<body>
	<center>
	<h1>Welcome to our Page of shopping!</h1>
	<br>
	<h2>Here you can find whatever you want to buy</h2>
	<h4>But first what is shopping?</h4>
	<p>Shopping is an activity in which a customer browses the available goods or services presented by one or more retailers with the potential intent to purchase a suitable selection of them. A typology of shopper types has been developed by scholars which identifies one group of shoppers as recreational shoppers,that is, those who enjoy shopping and view it as a leisure activity.</p>
	</center>
	<div>
		<a href="{{ url_for('shop_page') }}">Let's Shop!</a>
	</div>
</body>
</html>